/* farcaster authkit modal does not support dark mode yet */
.fc-authkit-qrcode-dialog {
	& > * {
		background-color: black !important;
		color: white !important;
	}
	._1sj0tk82 {
		display: none !important;
	}
}